<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shen.mapper.QuestionMapper">

    <insert id="addQuestion" parameterType="java.util.List">
        insert ignore into t_question
        (
        qType,qNumber,qStem,optionA,optionB,optionC,optionD,qScore,qAnswer,eNumber
        )
        values
        <foreach collection="list" item="item"  separator =",">
            (
           #{item.qType},#{item.qNumber},#{item.qStem},#{item.optionA},#{item.optionB},#{item.optionC},#{item.optionD},#{item.qScore},#{item.qAnswer},#{item.eNumber}
            )
        </foreach>
    </insert>
    <select id="mQuestion" resultType="com.shen.bean.Question">
        select * from t_question where qType="多选题"
    </select>
    <select id="sQuestion" resultType="com.shen.bean.Question">
        select * from t_question where qType="单选题"
    </select>

</mapper>